.message-list {
    height: 500px;
}

.message {
    display: flex;
    padding: 10px 5px;
    height: 100%;
}

.message.odd {
    background: #CCCCCC;
}
.message.even {
    background: #DCDCDC;
}

.message__sender {
    width: 165px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message__sender--whatsapp {
    color: #075E54;
    font-weight: bold;
}

.message__date-time {
    width: 255px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message__message {
    flex: 1;
    overflow: hidden;
    line-height: 1;
}

.message__message p {
    margin: 0 0 13px;
}
